/*
Theme Name: Town
Theme URI: http://bypixels.com/themes/wordpress/town
Description: Town Onepage Theme
Version: 1.2
Author: Breecode
Author URI: http://themeforest.net/user/breecode
Tags: blue, green, orange, purple, red, one-column, two-columns, three-columns, four-columns, custom-background, custom-colors, custom-header
custom-menu, featured-images, theme-options
License: GNU General Public License
License URI: license.txt
Copyright: Bypixels (http://bypixels.com/)
*/

/*
@import url(http://fonts.googleapis.com/css?family=Cabin+Condensed:400,700);
@import url(http://fonts.googleapis.com/css?family=PT+Sans:400,700);
*/
@import url(http://fonts.googleapis.com/css?family=Open+Sans+Condensed:300,700);
@import url(http://fonts.googleapis.com/css?family=Roboto+Condensed:400,300,700);
@import url(http://fonts.googleapis.com/css?family=Open+Sans:400,600,300,700);
@import url("css/style.css");
#header,#footer {
  background-color: #285377;
}
#footer {
	padding-bottom:50px;
	padding-top:50px;
}
p{
	font-weight:300;
	font-size:15px;
	color:#6d6f72;
	line-height:24px;
}
.main_nav li a {
  color: #95add2 !important;
}
.main_nav li a:hover, .main_nav li.active a {
  color: #ffffff !important;
}
#logo{
	margin-left:1%;
	background:none;
}
.row{
	font-family: 'Open Sans', sans-serif;
}
.temoignages h1.page_title{
	color:#ffffff;
	font-size:48px;
	font-family: 'Open Sans', sans-serif;
	font-weight:300;
	letter-spacing:normal;
	line-height:54px;
}
.temoignages .row{
	padding:50px 0px;
}
.temoignages .row p{
	color:#ffffff;
	font-size:15px;
	line-height:24px;
	font-family: 'Open Sans', sans-serif;
	font-weight:300;
	text-align:center;
}

.temoignage{
	float:left;
	width:30%;
	margin-left:5%;
	margin-bottom:0px;
}
.temoignage.first{
	margin-left:0%;
}
.temoignages-liste{
	position:relative;
}
.temoignages-slider-holder{
	width:100%;
	height:auto;
	position:relative;
	overflow:hidden;
}
.temoignages-slider{
	width:100%;
	height:99999em;
	position:relative;
}
.temoignage-slider{
	width:100%;
	height:auto;
	display:inline-block;
}
.temoignages-liste .next{
	background: url("images/large_right.png") no-repeat scroll 0 0 rgba(0, 0, 0, 0);
	cursor: pointer;
	height: 40px;
	position: absolute;
	width: 40px;
	z-index: 100;
	top:0px;
	right:-50px;
}
.temoignages-liste .prev{
	background: url("images/large_left.png") no-repeat scroll 0 0 rgba(0, 0, 0, 0);
	cursor: pointer;
	height: 40px;
	position: absolute;
	width: 40px;
	z-index: 100;
	top:0px;
	left:-50px;
}
.about .row{
	padding:50px 0px;
}
.about-pic{
	float:left;
	width: 30%;
	margin-right:2%;
}
.about-text{
	float:left;
	width:68%;
}
.about-text p{
	color:#6d6f72;
	font-size:15px;
	line-height:24px;
	font-family: 'Open Sans', sans-serif;
	font-weight:300;
}
.row ul{
	margin:0px;
	padding:0px;
	padding-left:24px;
	margin-bottom:20px;
}
.row ul li{
	color:#6d6f72;
	font-size:15px;
	line-height:24px;
	font-family: 'Open Sans', sans-serif;
	font-weight:300;
}

#contact.section,
#nous-joindre.section{
	padding:50px 0px;
}
#contact h1.page_title,
#nous-joindre h1.page_title{
	color:#818386;
	font-size:48px;
	font-family: 'Open Sans', sans-serif;
	font-weight:300;
	letter-spacing:normal;
	line-height:54px;
}
#contact div.line,
#nous-joindre div.line{
	color:#999999;
	width:5%;
	height:5px;
	background-color:#999999;
	clear:both;
	margin:5px auto;
	margin-bottom:28px;
}
#contact p,
#nous-joindre p{
	font-size:15px;
	line-height:24px;
	text-align:center;
}
#logo, #skill .bar, .no-touch .hi-icon-effect-1a .hi-icon:hover, .no-touch .hi-icon-effect-1b .hi-icon:hover, #filters li.active, .menu_trigger, .mobileAreaMenu li, #response .submit_buttom, .read_more_small:hover, .pricing_footer:hover, .pricing-table.color .pricing_sub_header, .pricing-table.color .pricing_footer, .social_links_footer li:hover, .button {
  background-color: #93a9bb;
  font-size:18px;
  font-family: 'Open Sans', sans-serif;
  font-weight:300;
  letter-spacing:normal;
}
#response .submit_buttom:hover {
  background-color: #93a9bb;
}

.conferences .row{
	padding:50px 0px;
}
a.feature-conference{
	display:inline-block;
	text-align:center;
	width:50%;
	margin-left:25%;
	background-color:#c05541;
	padding:15px 0px;
	margin-bottom:20px;
}
a.conference-box{
	float:left;
	background-color: #285377;
	text-decoration:none;
	color:#ffffff;
  	font-family: 'Open Sans', sans-serif;
	text-align:center;
	width:30%;
	margin-right:5%;
	padding:15px 0px;
	cursor:pointer;
	min-height: 182px;
}
a.conference-archive{
	margin-right:0%;
}
a.conference-box h3,
a.feature-conference h3{
	color:#ffffff;
	font-size:32px;
  	font-family: 'Open Sans', sans-serif;
  	font-weight:300;
	line-height:32px;
	margin-top:0px;
}
a.conference-box p,
a.feature-conference p{
	color:#ffffff;
	font-size:15px;
  	font-family: 'Open Sans', sans-serif;
  	font-weight:300;
	line-height:20px;
	width:90%;
	margin:5px 5%;
	display:none;
}
a.feature-conference p{
	display:block;
	color:#ffffff !important;
}
a.conference-box h4,
a.feature-conference h4{
	color:#ffffff;
	font-size:26px;
  	font-family: 'Open Sans', sans-serif;
  	font-weight:300;
	line-height:26px;
	width:90%;
	margin:5px 5%;
	display:none;
}
a.feature-conference h4{
	display:block;
}

a.feature-conference h5{
	color:#ffffff;
	font-size:20px;
  	font-family: 'Open Sans', sans-serif;
  	font-weight:bold;
	line-height:auto;
	width:90%;
	margin:5px 5%;
}

a.conference-box:hover h4,
a.conference-box:hover p,
a.conference-active p,
a.conference-active h4{
	display:block;
}

a.conference-box .more,
.conference-form input[type="submit"],
.conferencier .conferencier-text .more,
.conference-archived .more,
a.more{
	display:inline-block;
	height:39px;
	line-height:39px;
	text-align:center;
	padding:0px 10px;
	
	color:#ffffff;
	font-size:15px;
  	font-family: 'Open Sans', sans-serif;
  	font-weight:300;
	
	background-color:#c05541;
	margin-top:10px;
	clear:both;
	border:none;
	cursor:pointer;
	text-transform:lowercase;
}
a.feature-conference .more{
	display:inline-block;
	height:39px;
	line-height:39px;
	text-align:center;
	padding:0px 10px;
	
	color:#ffffff;
	font-size:15px;
  	font-family: 'Open Sans', sans-serif;
  	font-weight:300;
	
	background-color:#285377;
	margin-top:10px;
	clear:both;
	border:none;
	cursor:pointer;
	text-transform:lowercase;
}
a.conference-box .more:first-letter,
.conference-form input[type="submit"]::first-letter,
.conferencier .conferencier-text .more:first-letter,
.conference-archived .more:first-letter,
a.more:first-letter,
a.feature-conference .more:first-letter{
	text-transform:capitalize;
}
.conferencier .conferencier-text .more{
	margin:5px 0px;
	font-size:15px;
	text-transform:lowercase;
}
.conference-archived .more{
	font-size:15px;
	text-transform:lowercase;
}
.conference-archived .more:first-letter,
.conferencier .conferencier-text .more:first-letter{
	text-transform:capitalize;
}
.conference-form{
	clear:both;
	float:left;
	width:50%;
	padding:10px 2%;
	border: 1px solid #000000;
  	border-radius: 5px;
}
a.conference-avenir{	
	background-color:#93a9bb;
}
a.conference-avenir .more{	
	background-color:#285377;
}
a.conference-archive{	
	background-color:#c5ced7;
}
a.conference-archive .more{	
	background-color:#93a9bb;
}

a.conference-archived .more{
	float:right;
	background-color:#93a9bb;
}
.conference-form input[type="text"] {
  background-color: #eeeeee;
  border: 1px solid #eeeeee;
  border-radius: 5px;
  box-shadow: none;
  color: #000000;
  margin: 0;
  margin-bottom:5px;
  outline: medium none;
  padding: 5px 1%;
}
.conference-form div.error {
  color:inherit;
  font-size:inherit;
  font-weight: normal;
}
.conference-form div.error {
	padding:5px 1%;
	width:97%;
	border:#FF0000 1px solid;
	background-color:#FFFFCC;
	border-radius: 5px;
}
.conference-form input[type="text"].error {
	border:#FF0000 1px solid;
	background-color:#FFFFCC;
}
.conference-form .inputs {
	padding-bottom:5px;
	border-bottom:#cccccc 1px dashed;
}


.conferences-contents h3,
.conferences-contents h4{
	color:#818386;
	font-size:18px;
  	font-family: 'Open Sans', sans-serif;
  	font-weight:300;
	line-height:18px;
	margin-top:0px;
	margin-bottom:5px;
	padding-bottom:5px;
	border-bottom:#000000 1px solid;
}
.conferences-contents h4{
	border-bottom:none;
}
.conferences-contents p{
	color:#818386;
	font-size:15px;
  	font-family: 'Open Sans', sans-serif;
  	font-weight:300;
	line-height:19px;
	margin-top:0px;
	margin-bottom:5px;
}
.conference-date{
	float:left;
	width:30%;
	margin-right:5%;
	margin-top:20px;
}
.conference-lieu{
	float:left;
	width:65%;
	margin-top:20px;
}
.conference-description,
.conference-cout,
.conference-politique,
.conference-information,
.conference-inscription{
	margin-top:20px;
	margin-bottom:20px;
	clear:both;
	float:left;
	width:100%;
}
.conference-description p{
	margin-bottom:18px;
}
.conference-description p a{
	color:#285377;
	text-decoration:underline;
}
.conference-3columns{
	float:left;
	width:27.7%;
	padding:5px 1%;
	margin-right:5%;
	border:#000000 1px solid;
}

.conference-3columns h3{
	border:none;
	margin-bottom:1px;
	padding-bottom:0px;
}
.conference-3columns ul{
	padding-left:20px;
}
.conference-3columns ul li{
	color:#818386;
	font-size:15px;
  	font-family: 'Open Sans', sans-serif;
  	font-weight:300;
	line-height:19px;
}
.conference-objectifs{
	margin-right:0%;
}
.conference-form input[type="radio"],
.conference-form input[type="checkbox"]{
	margin:0px;
	margin-right:10px;
}
.conferences-content,
.conferences-contents-holder{
	display:none;
}
#index-2{
	display:none !important;
}

.main_nav li ul {
	position:absolute;
	z-index:1000;
	left:-10px;
	top:19px;
	display:none;
	margin-left:0px;
	padding:0px;
	background-color:#285377;
	width:200px;
	padding:10px;
}
.main_nav li:hover ul {
	display:block;
}
.main_nav li ul li:after {
  background: none !important;
}

.conferencier img{
	width:10%;
	margin-right:2%;
	float:left;
}
.conferencier .conferencier-text{
	float:left;
	width:65%;
}
.conferencier div div{
	display:none;
}
.conferencier .conferencier-text h3{
	border:none;
	font-weight:bold;
	font-size:15px;
	padding-bottom:0px;
}
.conference-title h3{
	color: #818386;
	font-family: 'Open Sans',sans-serif;
	font-size: 26px;
	font-weight: 300;
	line-height: 26px;
}

.mailchimp-form{
	float:right;
	-webkit-border-radius: 10px;
	-moz-border-radius: 10px;
	border-radius: 10px;
	width:50%;
	background-color:#ffffff;
}
.mailchimp-form input[type="checkbox"]{
	margin:0px;
	margin-right:5px;
}
#mc_embed_signup .asterisk {
  font-size: 100% !important;
}
#mc_embed_signup {
  background: none !important;
}
.conferences-contents .conference-archive{
	margin-top:20px;
}
.conference-archived h3{
	font-weight:300;
}
.conference-archived span.year{
	float:left;
	width:7%;
}
.conference-archived span.ctitle{
	float:left;
	width:78%;
	margin-right:5%;
}
.conference-archived a{
	color:#818386 !important;
}
.conference-archived span.more{
	width:7%;
	margin-top:0px;
}
.conference-archived-info{
	display:none;
	padding:10px;
	position:relative;
	margin-bottom:20px;
	margin-top:-5px;
	background-color:#eeeeee;
}
.footer-content{
	float:left;
	color:#94a9bc !important;
	font-size:18px;
}
.footer-content p{
	color:#94a9bc;
	margin-bottom:10px !important;
}
.footer-content a{
	color:#94a9bc !important;
	text-decoration:underline;
}
.main_nav li.language-menu:after {
  background: none;
}

.rev_slider .line{
	height:auto !important;
	line-height:0px;
}
.rev_slider .line img{
	/*height:3px !important;*/
}
.rev_slider .line img{
	vertical-align:top !important;
}

#home,
#accueil{
	padding-top:60px;
}


@media (max-width: 1000px) {
	#logo{
		width:80%;
		max-height:60px;
		background:none;
	}
	#logo img{
		max-height:60px;
	}
	
}
@media (max-width: 900px) {
	#logo{
		width:80%;
		max-height:60px;
		background:none;
		height:60px;
		line-height:60px;
	}
	#logo img{
		vertical-align:middle;
	}
	.conferences .row,
	.about .row,
	.temoignages .row{
		padding-top:90px !important;
	}
	
}
@media (max-width: 600px) {
	#header{
		top:0px;
	}
	#home,
	#accueil{
		margin-top:55px;
	}
	.conference-archived span.year {
	  width: 100%;
	  text-align:center;
	  font-weight:bold;
	}
	.conference-archived span.ctitle {
	  width: 100%;
	  text-align:center;
	  margin:5px 0px;
	}
	.conference-archived span.more {
	  width: 100%;
	  padding:0px;
	}
	/*.tp-caption.style1_ctl {
		font-size:18px !important;
	}
	.tp-caption.style1_small_ctl {
	  font-size:14px !important;
	}*/
	.row .mobileAreaMenu ul {
	  margin: 0;
	  padding: 0;
	}
	.mobileAreaMenu ul li ul li{
		background-color:#7b8d9c;
	}
	.container {
	  margin: 0 5%;
	  width:90%;
	}
	a.conference-box {
		clear:both;
		width:100%;
		margin-bottom:20px;
	}
	a.conference-box h4,
	a.conference-box p,
	a.conference-active p,
	a.conference-active h4{
		display:block;
	}
	.conference-title h3 {
		text-align:center;
	}
	.conferencier{
		text-align:center;
	}
	.conferencier img {
	  float: inherit;
	  margin-right: 0px;
	  margin-bottom:4px;
	  width: 25%;
	}
	.conferencier .conferencier-text {
	  float: left;
	  width: 100%;
	}
	.conferencier .conferencier-text div {
	  text-align:left;
	}
	.conference-3columns {
	  margin-right: 0%;
	  margin-bottom:15px;
	  width: 97.7%;
	}
	.conference-date,
	.conference-lieu{
	  margin-right: 0%;
	  width: 100%;
	}
	.conference-form {
	  padding: 10px 2%;
	  width: 95.7%;
	}
	.conference-form input[name="address"],
	.conference-form input[name="city"],
	.conference-form input[name="zip"],
	.conference-form input[name="phone1"],
	.conference-form input[name="phone2"]{
	  width: 97% !important;
	  margin-right:0px !important;
	}
	.conference-form input[type="text"]{
		font-size:16px !important;
	}
	.conference-inscription p{
		display:none;
	}
	.about-pic {
		width:100%;
		margin:10px 0px;
	}
	.about-text {
	  width:100%;
	}
	.temoignage {
	  margin-left: 0%;
	  width: 80%;
	  margin:0px 10%;
	}
	.temoignage.first {
	  margin-left: 10%;
	}
	.temoignages-liste {
		width:80%;
		margin:0px 10%;
	}
	.mailchimp-form {
	  margin-top:20px;
	  clear:both;
	  width: 100%;
	}
	.footer-content {
		width:100%;
		text-align:center;
	}
}
@media (max-width: 400px) {
	#logo{
		width:70%;
		height:60px;
		line-height:60px;
	}
	#logo img{
		vertical-align:middle;
	}
}

@media print {
    body *{
		display:none;
	}
	.print-main *{
		display:block !important;
	}
	.print,
	.print-main{
		display:block !important;
	}
	.print .conferences-content{
		width:90%;
		margin:0px 4%;
	}
	.print .conferences-content > div{
		page-break-inside:avoid;
	}
	.print .conferences-content .more{
		display:none !important;
	}
	.print .conferences-content .conference-3columns{
		page-break-inside:avoid;
		width:100%;
		margin-right:0%;
		border:none !important;
	}
	.print .conferences-content .conference-3columns h3{
		border-bottom:#000000 1px solid;
		margin-bottom:5px;
		padding-bottom:5px;
	}
	.print .conferences-content .conference-date,
	.print .conferences-content .conference-lieu{
		width:100%;
	}
	.print .conferences-content .conference-inscription{
		display:none !important;
	}
}