/* CSS Document */
body {
	background-color:#285377;
}
div.checkout {
	border:#1b1d1d 1px solid;
	background-color:#ffffff;
	padding:50px;
	text-align:center;
	width:50%;
	margin:0px auto;
	margin-top:20px;
	
	color:#285377;
	font-family:Arial, Helvetica, sans-serif;
	font-weight:700;
	font-size:20px;
	
	-webkit-border-radius: 4px;
	-moz-border-radius: 4px;
	border-radius: 4px;
}
.logo-checkout{
	margin-bottom:10px;
	max-width:100%;
}
.loading-checkout{
	margin-top:20px;
}
