.tp-caption.style1_ctl {
font-size:60px;
line-height:80px;
font-weight:bold;
color:rgb(255, 255, 255);
text-decoration:none;
background-color:transparent;
padding:0px;
margin:0px;
opacity:0;
white-space:nowrap;
min-width:0px;
min-height:0px;
text-align:center;
left:611.5px;
top:360px;
visibility:visible;
border-width:0px;
border-color:rgb(255, 255, 255);
border-style:none;
}

.tp-caption.style1_small_ctl {
font-size:40px;
line-height:20px;
color:rgb(255, 255, 255);
text-decoration:none;
background-color:transparent;
padding:0px;
opacity:0;
margin:0px;
white-space:nowrap;
min-width:0px;
min-height:0px;
left:796.5px;
top:280px;
visibility:visible;
border-width:0px;
border-color:rgb(255, 255, 255);
border-style:none;
}

.tp-caption.style2 {
color:white;
font-size:30px;
font-weight:100;
opacity:0;
background-color:rgb(0, 0, 0);
background-color:rgba(0, 0, 0, 0.6);
padding:15px;
text-align:center;
margin:0px;
border-width:0px;
line-height:20px;
white-space:nowrap;
min-width:0px;
min-height:0px;
-webkit-transform:scale(1, 1) rotate(0deg);
left:751.5px;
top:330px;
visibility:visible;
font-family:"Open Sans";
}

.tp-caption.style3 {
font-family:"Open Sans";
font-size:50px;
padding:0px;
margin:0px;
border-width:0px;
line-height:20px;
white-space:nowrap;
min-width:0px;
min-height:0px;
opacity:0;
left:496.5px;
top:310px;
visibility:visible;
color:#fff;
font-weight:100;
text-transform:uppercase;
}

.tp-caption.style3_small {
font-size:22px;
padding:0px;
opacity:0;
margin:0px;
border-width:0px;
line-height:20px;
white-space:nowrap;
min-width:0px;
min-height:0px;
-webkit-transform:scale(1, 1) rotate(0deg);
left:831.5px;
top:450px;
visibility:visible;
color:white;
}

.tp-caption.style4 {
font-size:60px;
padding:0px;
margin:0px;
border-width:0px;
opacity:0;
line-height:55px;
white-space:nowrap;
min-width:0px;
min-height:0px;
-webkit-transform:scale(1, 1) rotate(0deg);
visibility:visible;
left:20px;
top:760px;
color:white;
font-weight:600;
text-transform:uppercase;
position:absolute;
text-align:left;
}

.tp-caption.style4_small {
font-size:16px;
padding:0px 4px;
margin:0px;
border-width:0px;
line-height:36px;
opacity:0;
white-space:nowrap;
min-width:0px;
min-height:0px;
-webkit-transform:scale(1, 1) rotate(0deg);
visibility:visible;
left:20px;
top:874px;
color:#000;
text-shadow:none;
font-weight:800;
font-family:"Open Sans", sans;
border-style:none;
background-color:#fff;
letter-spacing:-1px;
text-transform:uppercase;
}

