.style3 span {
color:#00cae9;
}

.style3_small span {
color:#00cae9;
}

.tp-button.custom {
color:#fff!important;
left:-10px;
top:10px;
letter-spacing:1.5px;
position:relative;
display:inline-block;
padding:5px 18px 15px;
font-size:14px;
border:2px solid rgba(255,255,255,0.3);
-webkit-transition:border-color 0.3s linear, background-color 0.3s linear;
-moz-transition:border-color 0.3s linear, background-color 0.3s linear;
-o-transition:border-color 0.3s linear, background-color 0.3s linear;
transition:border-color 0.3s linear, background-color 0.3s linear;
text-transform:uppercase;
font-weight:100;
}

.tp-caption a {
color:#ff7302;
text-shadow:none;
-webkit-transition:all 0.2s ease-out;
-moz-transition:all 0.2s ease-out;
-o-transition:all 0.2s ease-out;
-ms-transition:all 0.2s ease-out;
}

.tp-caption a:hover {
color:#ffa902;
}