#logo, #skill .bar, .no-touch .hi-icon-effect-1a .hi-icon:hover, .no-touch .hi-icon-effect-1b .hi-icon:hover, #filters li.active, .menu_trigger, .mobileAreaMenu li, 
#response .submit_buttom, .read_more_small:hover, .pricing_footer:hover, .pricing-table.color .pricing_sub_header, .pricing-table.color .pricing_footer, .social_links_footer li:hover, .button {

	background-color: #00cae9;
}

::selection {background-color: #00cae9; color: white;}

a:hover, .welcome_msg, .col_wrapper.active a, .the-title h1 a:hover, span.color {
	color:#00cae9;
}

.hi-icon-effect-1 .hi-icon:after{
	box-shadow: 0 0 0 4px #00cae9;
}
.pricing-table.color .pricing_header {background-color: #08b4cf; }

.custom_button a:hover {
	border: 2px solid #00cae9;
}
#map_google {background-image: url(../../images/map.jpg)}

.carousel-next, .carousel-prev {	
	background-color: #00cae9;
}
.over_about {background-color: rgba(5, 203, 240, 0.9);}
.ie8 .over_about {background-color: #00cae9;}

.over {background: rgba(5, 203, 240, 0.95);}

