#logo, #skill .bar, .no-touch .hi-icon-effect-1a .hi-icon:hover, .no-touch .hi-icon-effect-1b .hi-icon:hover, #filters li.active, .menu_trigger, .mobileAreaMenu li, 
#response .submit_buttom, .read_more_small:hover, .pricing_footer:hover, .pricing-table.color .pricing_sub_header, .pricing-table.color .pricing_footer, .social_links_footer li:hover, .button {

	background-color: #5c5c5c;
}
::selection {background-color: #5c5c5c; color: white;}

a:hover, .welcome_msg, .col_wrapper.active a, .the-title h1 a:hover, span.color {
	color:#5c5c5c;
}

.hi-icon-effect-1 .hi-icon:after{
	box-shadow: 0 0 0 4px #5c5c5c;
}
.pricing-table.color .pricing_header {background-color: #404040; }

.custom_button a:hover {
	border: 2px solid #5c5c5c;
}
#map_google {background-image: url(../../images/map_gray.jpg)}

.over_about {background-color: rgba(92, 92, 92, 0.9);}

.carousel-next, .carousel-prev {	
	background-color: #5c5c5c;
}

.ie8 .over_about {background-color: #5c5c5c;}

.over {background: rgba(92, 92, 92, 0.95);}