#logo, #skill .bar, .no-touch .hi-icon-effect-1a .hi-icon:hover, .no-touch .hi-icon-effect-1b .hi-icon:hover, #filters li.active, .menu_trigger, .mobileAreaMenu li, 
#response .submit_buttom, .read_more_small:hover, .pricing_footer:hover, .pricing-table.color .pricing_sub_header, .pricing-table.color .pricing_footer, .social_links_footer li:hover, .button {

	background-color: #ff6029;
}

::selection {background-color: #ff6029; color: white;}
a:hover, .welcome_msg, .col_wrapper.active a, .the-title h1 a:hover, span.color {
	color:#ff6029;
}

.hi-icon-effect-1 .hi-icon:after{
	box-shadow: 0 0 0 4px #ff6029;
}
.pricing-table.color .pricing_header {background-color: #e54e12; }

.custom_button a:hover {
	border: 2px solid #ff6029;
}

#map_google {background-image: url(../../images/map_orange.jpg)}

.carousel-next, .carousel-prev {	
	background-color: #ff6029;
}
.over_about {background-color: rgba(255, 96, 41, 0.9);}
.ie8 .over_about {background-color: #ff6029;}

.over {background:rgba(255, 96, 41, 0.95);}