#logo, #skill .bar, .no-touch .hi-icon-effect-1a .hi-icon:hover, .no-touch .hi-icon-effect-1b .hi-icon:hover, #filters li.active, .menu_trigger, .mobileAreaMenu li, 
#response .submit_buttom, .read_more_small:hover, .pricing_footer:hover, .pricing-table.color .pricing_sub_header, .pricing-table.color .pricing_footer, .social_links_footer li:hover, .button {

	background-color: #ffcc00;
}

::selection {background-color: #ffcc00; color: white;}
a:hover, .welcome_msg, .col_wrapper.active a, .the-title h1 a:hover, span.color {
	color:#ffcc00;
}

.hi-icon-effect-1 .hi-icon:after{
	box-shadow: 0 0 0 4px #ffcc00;
}
.pricing-table.color .pricing_header {background-color: #ffba00; }

.custom_button a:hover {
	border: 2px solid #ffcc00;
}
#map_google {background-image: url(../../images/map_yellow.jpg)}

.carousel-next, .carousel-prev {	
	background-color: #ffcc00;
}
.over_about{background-color: rgba(255, 204, 0, 0.9);}
.ie8 .over_about {background-color: #ffcc00;}

.over {background: rgba(255, 204, 0, 0.95);}